* {
    user-select: none;
    cursor: alias;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: rgb(31, 31, 31);
    background-color: rgb(246, 241, 241);
}

.container {
    border: 1px solid;
    border-color: gray;
    white-space: nowrap;
    cursor: alias;
    width: 800px;
    height: 800px;
    align-self: center;
    box-shadow: 0px 0px 10px grey;
}

h1 {
    padding-top: 0;
    padding-bottom: 1.5%;
    width: 30%;
    margin: 0;
    font-size: 3rem;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    color: rgb(42, 42, 42);
    text-shadow: -2px 2px #ef3550,
                 -4px 4px #f48fb1,
                 -6px 6px #7e57c2,
                 -8px 8px #2196f3,
                 -10px 10px #26c6da,
                 -12px 12px #43a047,
                 -14px 14px #eeff41,
                 -16px 16px #f9a825,
                 -18px 18px #ff5722;
}

.border {
    border: 1px solid;
    border-color: gray;
}

.grid {
    background-color: white;
}

.grid:hover {
    background-color: rgba(211, 211, 211, 0.385);
}

.content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fn-container ,.palette-container{
    width: 300px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(25, 167, 206);
    padding-top: 20px;
    border-radius: 20px;
    color: rgb(246, 241, 241);
    box-shadow: 0px 0px 10px grey;

}

button {
    border-radius: 20px;
    width: 85%;
    height: 10%;
    font-size: 26px;
    background-color: rgb(20, 108, 148);
    transition: all 0.2s;
    border: 0;
    color: rgb(246, 241, 241);
}

button:hover, input[type="color"]:hover {
    transform: scale(1.05);
}

button:active {
    transition: all 0.1s;
    transform: scale(1.01);
}

.activate {
    background-color: rgb(20, 148, 120);
    border: 3px solid rgb(246, 241, 241);
}

.color-plate {
    transition: all 0.1s;
}

.color-plate:hover {
    transform: scale(1.2);
}

.color-plate:active {
    transform: scale(1.1);
}

input[type="color"] {
    transition: all 0.3s;
	border: none;
	width: 70%;
	height: 100%;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 20px;
	border: none;
    box-shadow: 0px 0px 10px grey;
    padding: 0;
}

input[type="color"]:focus-visible {
    outline: 0;
}

.color {
    display: flex;
    width: 85%;
	height: 40px;
    gap: 5%;
    justify-content: space-evenly;
}

#save-color {
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: rgb(246, 241, 241);
    border-radius: 20px;
    margin: 0;
    transition: all 0.3s;
    cursor: pointer;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#save-color:hover {
    transform: scale(1.1);
}

#save-color:active {
    transform: scale(1.01);
}

.fa-save {
    cursor: pointer;
}

.color-set{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10%;

}

.color-plate {
    width: 30px;
    height: 30px;
}

span {
    display: flex;
}

.shading {
    width: 85%;
    height: 10%;
}

.shading > button {
    width: 50%;
    height: 100%;
}

#darken {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgb(190, 190, 190);
}

#lighten {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid rgb(190, 190, 190);
}

label {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.size-container {
    width: 85%;
    height: 15%;
    display: flex;
    flex-direction: column;
}

input[type="range"] {
    margin-top: 20px;
}

.size-button {
    display: flex;
    padding-top: 20px;
}

#apply-size, #clear-canvas {
    height: 100%;
}

#apply-size {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgb(190, 190, 190);
}

#clear-canvas {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid rgb(190, 190, 190);
}