* {
    user-select: none;
    cursor: alias;
}

body {
    display: flex;
    flex-direction: column;
    color: rgb(31, 31, 31);
    background-color: rgb(246, 241, 241);
}

.container {
    border: 1px solid;
    border-color: gray;
    white-space: nowrap;
    cursor: alias;
    width: 800px;
    height: 800px;
    align-self: center;
    box-shadow: 0px 0px 10px grey;
}

h1 {
    padding-top: 0;
    padding-bottom: 1.5%;
    width: 30%;
    margin: 0;
    font-size: 3rem;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    color: rgb(42, 42, 42);
    text-shadow: -2px 2px #ef3550,
                 -4px 4px #f48fb1,
                 -6px 6px #7e57c2,
                 -8px 8px #2196f3,
                 -10px 10px #26c6da,
                 -12px 12px #43a047,
                 -14px 14px #eeff41,
                 -16px 16px #f9a825,
                 -18px 18px #ff5722;
}

.border {
    border: 1px solid;
    border-color: gray;
}

.grid {
    background-color: white;
}

.grid:hover {
    background-color: rgba(211, 211, 211, 0.385);
}

.content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fn-container ,.color-palette{
    width: 240px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(25, 167, 206);
    padding-top: 20px;
    border-radius: 20px;
    color: rgb(246, 241, 241);
    box-shadow: 0px 0px 10px grey;

}

button {
    border-radius: 20px;
    width: 85%;
    height: 10%;
    font-size: 26px;
    background-color: rgb(20, 108, 148);
    transition: all 0.3s;
    border: 0;
    color: rgb(246, 241, 241);
}

button:hover {
    border: thick solid white;
    
}

.activate {
    background-color: rgb(20, 148, 120);
    border: 3px solid white;

}